    body {
        background-color: salmon;
        text-align: center;
        color: ;
    }
  
    a {
        color: white;
    }
 
    div {
        width:100%;
        overflow:auto;

        border: 10px solid green;
        padding: auto;
        margin: auto;
        margin-top: 30px;
    }

    table {
        text-align: center;
    }

    .menu {
        background-color: #471AE5;
        

        float:none;
        width:20%;
        padding: 10px;
    
    }

    .profileinfo { 
        background-color: khaki;

        float:none;
        width:25%;

    }

    .educationinfo {
        background-color: #471AE5;

        float:none;
        width:25%;
       
    }

    .workinfo {
        background-color: #471AE5;

        float:none;
        width:45%;
       
    }

    .progskillsinfo {
        background-color: #471AE5;

        float:none;
        width:25%;
        text-align: center;
       
    }

    .hobbiesinfo {
        background-color: #471AE5;

        float:none;
        width:35%;
       
    }

    .favoritesinfo {
        background-color: #471AE5;

        float:none;
        width:80%;
       
    }


    .websitesinfo {
        background-color: #471AE5;

        float:none;
        width:25%;
       
    }

    .projectsinfo {
        background-color: #471AE5;

        float:none;
        width:25%;
       
    }

    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .left {
        display: flex;
        justify-content: left;
        align-items: left;
    }


    .nopadding {
        padding:none;
    }

    .noborder {
        border:none;
    }


    #automargin {
        margin:auto; 
    }

    #float {


    }


<span>,<ul>,<li>, <img>, <table>, <form>, <h1>,<p>,<a>
